* {
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #0b1121;
}

main {
  max-width: 640px;
  margin: auto;
}

a,
a:visited {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background-color: #0ea5e9;
  padding: 1rem;
  border-radius: 0.5rem;
}

a:hover {
  text-decoration: none;
  background-color: #0369a1;
}

h1,
h2 {
  color: #fff;
}

.mb {
  margin-bottom: 1rem;
}

main {
  padding-top: 30vh;
}

.text-center {
  text-align: center;
}

.full-height {
  height: 100vh;
}

.socials > * + * {
  margin-left: 50px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  align-items: center;
}

.space-x > * + * {
  margin-left: 1rem;
}

.pt {
  padding-top: 1rem;
}

@media screen and (max-width: 640px) {
  .socials {
    flex-direction: column;
  }

  .socials > * + * {
    margin-left: 0;
    margin-top: 30px;
  }
}
