package components

import (
	"github.com/muradbu/muradbuyukasik.com/types"
)

templ SocialLink(l types.Link) {
	<a class="flex py-2 justify-center" href={ templ.URL(l.Url) }>{ l.Text }</a>
}

templ SocialLinkList(links []types.Link) {
	<ul class="py-4 flex flex-col gap-8 max-w-lg mx-auto">
		for _, link := range links {
			<li>
				<div class="border border-gruvbox-fg0">
					@SocialLink(link)
				</div>
			</li>
		}
	</ul>
}
